/* GridBlock */
.gridBlock {
    padding: 0;
}

.gridBlock > * {
    box-sizing: border-box;
}

.gridBlock .twoByGridBlock img,
.gridBlock .threeByGridBlock img,
.gridBlock .fourByGridBlock img {
    max-width: 100%;
}

.gridBlock .gridClear {
    clear: both;
}

.gridBlock .blockElement {
    margin-bottom: 60px;
}

@media only screen and (max-width: 735px) {
    .gridBlock .fourByGridBlock {
        flex: 1 0 26%;
    }
}

@media only screen and (min-width: 736px) {
    .gridBlock {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .gridBlock > * {
        margin: 0 12px;
    }

    /*.gridBlock > *:first-child {*/
    /*    margin-left: 0;*/
    /*}*/

    /*.gridBlock > *:last-child {*/
    /*    margin-right: 0;*/
    /*}*/

    .gridBlock .twoByGridBlock {
        flex: 1 0 40%;
    }

    .gridBlock .threeByGridBlock {
        flex: 1 0 26%;
    }

    .gridBlock .fourByGridBlock {
        flex: 1 0 20%;
    }

    h2 + .gridBlock {
        padding-top: 20px;
    }
}

@media only screen and (min-width: 1400px) {
    .gridBlock {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.alignCenter {
    text-align: center;
}

.alignRight {
    text-align: right;
}

.imageAlignSide {
    display: flex;
    flex-flow: row wrap;
}

.blockImage {
    max-width: 730px;
}

.imageAlignSide .blockImage {
    flex: 0 1 500px;
    max-width: 500px;
}

@media only screen and (max-width: 735px) {
    .imageAlignSide .blockImage {
        display: none;
    }
}

.imageAlignSide .blockContent {
    flex: 1 1;
}

.imageAlignBottom .blockImage {
    margin: 0 auto 20px;
    max-width: 730px;
}

.imageAlignBottom.alignCenter .blockImage {
    margin-left: auto;
    margin-right: auto;
}

.imageAlignTop .blockImage {
    margin-bottom: 20px;
    max-width: 80px;
}

.imageAlignTop.alignCenter .blockImage {
    margin-left: auto;
    margin-right: auto;
}

.imageAlignRight .blockImage {
    margin-left: 40px;
}

.imageAlignLeft .blockImage {
    margin-right: 40px;
}
/* End of GridBlock */
