.moreUsers {
    max-width: 560px;
    text-align: center;
    font-weight: bold;
    margin: 0 auto 20px;
}

.certsShowcaseSection {
    padding: 0 20px 0;
    text-align: center;
}

.certsShowcaseSection.paddingTop {
    padding-top: 20px;
}

.certsShowcaseSection.paddingBottom {
    padding-bottom: 80px;
}

/*.certsShowcaseSection h2 {*/
/*    color: #007acc;*/
/*    font-size: 30px;*/
/*    line-height: 1em;*/
/*    margin-top: 20px;*/
/*    padding: 10px 0;*/
/*    text-align: center;*/
/*}*/

/*.certsShowcaseSection p {*/
/*    margin: 0 auto;*/
/*    max-width: 560px;*/
/*    padding: 0.8em 0;*/
/*}*/

.certsShowcaseSection .logos {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 20px;
}

.certsShowcaseSection .logos img {
    max-height: 100px;
    padding: 20px 40px;
    width: 200px;
}

@media only screen and (max-width: 735px) {
    .certsShowcaseSection .logos img {
        padding: 20px;
    }
}